html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7%;
}

.navbar-ul {
    list-style: none;
    margin:0; padding:0; left:0;
    overflow: hidden;
}

.navbar-li {
    position: relative;
    float: right;
}

.navbar-a {
    padding: 10px;
}

.call {

}

body {
    max-width: 79rem;
}