* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}




header {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    max-width: 100vw;
    background-color: whitesmoke;
}

.logo {
    margin:0;
    top:0;
    max-width: 8.8rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar-ul {
    margin:10px; padding:0;
    list-style: none;
    display: flex;
}

.navbar-li {
    float: right;
    position: relative;
}

.navbar-a {
    padding: 1rem;
    display: block;
    text-decoration: none;
    color: rgb(148, 178, 104);
}

.navbar-a:hover:not(.active), .phone-link:hover:not(.active) {
    background-color: rgb(221, 228, 127);
    color: white;
}



