:root {
  --red: #a54420;
  --gray-ish: #f0ead2;
  --green: #adc178;
  --green-ish: #dde5b6;
  --white: whitesmoke;
  --red-fade: #a5442080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}



body {
	padding: 0;
	margin: 0;
  display: flex;
  place-items: center;
}


/* navbar start */

nav {
	position: fixed;
	z-index: 2;
	left: 0;
	right: 0;
	top: 0;
	height: 70px;
	padding: 0;
	background-color: var(--red);
	font-family: 'Montserrat', sans-serif;
}

.logo-container {
  display: block;
  width: fit-content;
  padding: 0 1.5em;
}

.logo {
  font-family: 'Rouge Script', cursive;
	font-size: 2.3em;
	line-height: 70px;
	color: var(--gray-ish);
}

.logo span {
  font-family: 'DM Serif Display', serif;
  font-size: 0.85em;
}


nav .nav-menu {
	position: absolute;
  left: 0;
	top: 0;
	padding: 0 2em;
	margin: 0;
	list-style: none;
}

nav .nav-item {
	display: inline-block;
}

nav .nav-item > a {
	display: inline-block;
	padding: 0 0.9rem;
	line-height: 70px;
	color: var(--gray-ish);
	text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

nav .dropdown {
	position: relative;
}

nav .dropdown-a::after {
	content: ' ';
	display: inline-block;
	margin-left: .5em;
	vertical-align: middle;
	border-top: .3em solid white;
	border-right: .3em solid transparent;
	border-left: .3em solid transparent;
}

nav  .dropdown.show a::after {
	transform: rotate(180deg);
}

nav .dropdown-menu {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	padding: 0.5rem 0;
	margin-top: -.5em;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: .1em;
	background-color: var(--gray-ish);
}

nav .dropdown.show .dropdown-menu {
	display: block;
}

nav .dropdown-item {
	display: block;
	padding: 0;
	font-size: .815em;
  color: black;
	line-height: 3;
	text-decoration: none;
  font-weight: bold;
  text-align: center;
}

nav .btn-hamburger {
	display: none;
	position: absolute;
	left: 1.5em;
	top: 50%;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	outline: none;
	transform: translateY(-50%);
}
nav .btn-hamburger span {
	display: block;
	width: 30px;
	height: 4px;
	background-color: var(--gray-ish);
	margin: 6px;
	border-radius: 2px;
	transition: .3s ease-in-out;
}

nav .btn-hamburger span:nth-child(4),
nav .btn-hamburger span:nth-child(5) {
	position: absolute;
	top: 10px;
	opacity: .5;
}

nav .btn-hamburger span:nth-child(4) {
	transform: rotate(45deg) scale(0);
}

nav .btn-hamburger span:nth-child(5) {
	transform: rotate(-45deg) scale(0);
}

nav.opened .btn-hamburger span:nth-child(4) {
	opacity: 1;
	transform: rotate(45deg) scale(1);
}

nav.opened .btn-hamburger span:nth-child(5) {
	opacity: 1;
	transform: rotate(-45deg) scale(1);
}
nav.opened .btn-hamburger span:nth-child(1),
nav.opened .btn-hamburger span:nth-child(2),
nav.opened .btn-hamburger span:nth-child(3) {
	opacity: 0;
}

/* navbar end */

@media screen and (max-width: 1300px) {

  /* navbar start */

	nav .nav-menu {
		position: fixed;
		left: 0;
		right: 0;
		top: 70px;
		bottom: 100%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		background-color: var(--red);
		transition: bottom .5s ease-in-out;
		overflow: hidden;
	}
	nav.opened .nav-menu {
		bottom: 0;
	}
	nav .nav-item > a {
		display: block;
	}
	nav .dropdown-menu {
		position: relative;
		top: 0;
		margin: 0 1.5em;
	}
	nav .btn-hamburger {
		display: block;
	}

  nav .dropdown-item {
    text-align: unset;
    padding: 0 0.5rem;
  }

  /* navbar end */

}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: relative;
	z-index: 1;
	margin-top: 70px;
	padding: 5%;
	height: 100vh;
  background-color: #adc178;
}

.container p {
	font-size: 1.2em;
}

/* footer start */

.footer {
  position: relative;
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 10px;
  flex-wrap: wrap;
}

.footer-item a {
  font-size: 1.5rem;
  color: var(--gray-ish);
  margin: 0 10px;
  display: block;
  transition: 0.5s;
}

.footer-item a:hover {
  transform: translateY(-8px);
}

.footer-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 1.5rem;
}

.col {
  width: 100%;
}


/* footer end */
